<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RateLimit.RedisHost" value="127.0.0.1"/>
    <add key="RateLimit.RedisPort" value="6379"/>
    <add key="RateLimit.PerSecondRateLimit" value="10"/>
    <add key="RateLimit.PerMinuteRateLimit" value="20"/>
    <add key="RateLimit.PerHourRateLimit" value="50"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>